body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.cover {
  background-color: #f7fcfa;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid;
  width: 30em;
  height: 30em;
  display: flex;
  position: absolute;
  border-radius: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bg-image {
  position: fixed;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
}

.login__controls {
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: right;
}
.login__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.login__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}
.login_Button_right {
margin-right: 1rem;
padding: 1rem 2rem;
}
.login_Button_left {
margin-left: 1rem;
padding: 1rem 2rem;
}