body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  background-color: #f7fcfa;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid;
  width: 30em;
  height: 25em;
  display: flex;
  position: relative;
  border-radius: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
