#mainBodyMainPage{
    width: 100%;
    height: 100%;
    background-color:#f5f5f5 ;    
}
#headerMainPage{
    height: 10%;
    padding: 0px 40px 0px 30px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    border-bottom: 1px solid #5391659f;
    background-color: #fafafa;
}
#headerMainPage h1 {
    color: black;
    font-size: 20px;
    margin: 0;
}
#innerMainPage{
    overflow: scroll;
    width: 100%;
    height: 90%;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-around;
    align-items: center;
}
.buttonMainPage{
    background-color:rgb(54, 136, 218);
    border: 1px rgb(54, 136, 218);
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}
.calanderRight{
    background-color:white;
    width: 70%;
    height: 95%;
    border-radius: 15px;
    overflow: scroll;
}
.headerCalanderRight{
    height: 10%;
    border-bottom: 1px solid #5391659f;
}
.dataListLeft{
    width: 25%;
    height: 95%;
    border-radius: 15px;
    overflow: scroll;
    background-color: white;
}
.headerDataListLeft{
    height: 10%;
    border-bottom: 1px solid #5391659f;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 0px 15px 0px 15px;
}





.fc-direction-ltr{
    direction: rtl;
    text-align: center;
}
.fc .fc-scroller-harness{
    direction: rtl;
}
colgroup{
    direction: rtl;
}


/*New Event Pop Up*/
.popUpEvents{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.innerPopUpEvents{
    position:relative;
    padding: 25px;
    width: 400px;
    height: 500px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.innerEvents1{
    height: 5%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.innerEvents2{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerEvents3{
    height: 70%;
    background-color: violet;
    display:list-item;


}
.innerEvents4{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


